/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-weight: normal;
  font-family: "ofont.ru_Montserrat";
  font-style: normal;
  src: url("../fonts/ofont.ru_Montserrat.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "OpenSansLight";
  font-style: normal;
  src: url("../fonts/OpenSansLight.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "OpenSansRegular";
  font-style: normal;
  src: url("../fonts/OpenSansRegular.woff") format("woff"); }

@font-face {
  font-weight: normal;
  font-family: "OpenSansExtraBold";
  font-style: normal;
  src: url("../fonts/OpenSansExtraBold.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 27px;
  font-family: "Arial", sans-serif;
  color: #f7f4f1;
  font-style: normal;
  background-color: #292929; }

img {
  max-width: 100%;
  height: auto; }

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.white-popup {
  position: relative;
  background-color: #f5f5f5;
  padding: 30px;
  max-width: 320px;
  height: 100%;
  margin: 0 auto; }

/* ZOOM */
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8); }

.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1); }

.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

.button {
  width: 125px;
  height: 35px;
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  font-family: "ofont.ru_Montserrat", sans-serif;
  color: #e8e8e8;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 14px; }

.block-title {
  margin: 0 auto 40px;
  padding: 0 50px;
  text-align: center;
  line-height: 24px; }

.block-title__title {
  text-transform: uppercase;
  font-family: "OpenSansExtraBold", sans-serif;
  color: #303944; }

.block-title__title--team {
  color: #f2f2f2; }

.block-title__text {
  color: #7e8185;
  font-size: 14px;
  font-family: "OpenSansRegular", sans-serif;
  margin-bottom: 10px;
  margin-top: 0; }

.block-title__text--team {
  color: #dcddde; }

.block-title__line {
  width: 40px;
  height: 2px;
  margin: 0 auto;
  background-color: #303944; }

.block-title__line--team {
  background-color: #dcddde; }

.my-header {
  max-width: 420px;
  min-width: 320px;
  height: 100vh;
  max-height: 620px;
  margin: 0 auto;
  position: relative;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.my-content {
  max-width: 420px;
  min-width: 320px;
  margin: 0 auto;
  position: relative; }

.my-footer {
  max-width: 420px;
  min-width: 320px;
  margin: 0 auto;
  position: relative; }

.site-header {
  background-color: rgba(53, 56, 59, 0.7);
  height: 100%;
  z-index: 0; }

.hamburger {
  position: absolute;
  right: 0px;
  top: 20px; }

.site-header__top-line {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.logo {
  margin-left: 30px;
  margin-top: 30px; }

.site-header__menu-text {
  margin-right: 70px;
  margin-top: 30px;
  text-transform: uppercase;
  font-family: "ofont.ru_Montserrat", sans-serif; }

.site-header__title {
  margin-top: 150px;
  text-align: center;
  font-size: 20px;
  font-family: "ofont.ru_Montserrat", sans-serif;
  font-weight: bold; }

.site-header__slogan {
  text-align: center;
  font-family: "OpenSansLight", sans-serif;
  padding: 0 25px; }

.site-header__arrow-scroll {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-image: url(../img/arrow-down.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  position: absolute;
  bottom: 100px;
  right: 50%;
  margin-right: -25px; }
  .site-header__arrow-scroll::before {
    content: '';
    position: absolute;
    width: 2px;
    height: 100px;
    background-color: #c3c4c6;
    bottom: -100px;
    left: 50%;
    margin-left: -1px; }

@media (min-width: 768px) {
  .my-header {
    max-width: 768px; }
  .my-content {
    max-width: 768px; }
  .my-footer {
    max-width: 768px; }
  .site-header__slogan {
    padding: 0 100px; } }

@media (min-width: 1200px) {
  .my-header {
    max-width: 1163px; }
  .my-content {
    max-width: 1163px; }
  .my-footer {
    max-width: 1163px; }
  .site-header__slogan {
    padding: 0 220px; } }

.services {
  background-color: #f5f5f5;
  height: auto;
  padding-top: 60px; }

.services__items {
  width: auto;
  padding: 0 80px 50px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.services__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: center;
  margin-bottom: 20px; }
  .services__item:nth-child(2) .services__img {
    background-image: url(../img/services-item2.png); }
  .services__item:nth-child(3) .services__img {
    background-image: url(../img/services-item3.png); }
  .services__item:nth-child(4) .services__img {
    background-image: url(../img/services-item4.png); }

.services__img {
  background-color: #303944;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  border-radius: 50%;
  background-size: auto;
  background-position: center;
  background-image: url(../img/services-item1.png);
  background-repeat: no-repeat; }

.services__named {
  color: #303944;
  font-family: "ofont.ru_Montserrat", sans-serif;
  font-weight: bold;
  margin: 20px 0 0; }

.services__text {
  color: #7e8185;
  font-size: 14px;
  margin-top: 0;
  line-height: 24px; }

@media (min-width: 768px) {
  .services__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; } }

@media (min-width: 1200px) {
  .services__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%; } }

.works {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-top: 60px; }

.works-items {
  width: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.works__item {
  width: 50%;
  height: 150px;
  background-image: url(../img/works-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }
  .works__item:hover .works__link {
    opacity: 1; }
  .works__item:nth-child(2) {
    background-image: url(../img/works-2.jpg); }
  .works__item:nth-child(3) {
    background-image: url(../img/works-3.jpg); }
  .works__item:nth-child(4) {
    background-image: url(../img/works-4.jpg); }
  .works__item:nth-child(5) {
    background-image: url(../img/works-5.jpg); }
  .works__item:nth-child(6) {
    background-image: url(../img/works-6.jpg); }
  .works__item:nth-child(7) {
    background-image: url(../img/works-7.jpg); }
  .works__item:nth-child(8) {
    background-image: url(../img/works-8.jpg); }
  .works__item:nth-child(2) {
    background-image: url(../img/works-2.jpg); }
  .works__item:nth-child(9) {
    background-image: url(../img/works-9.jpg); }
  .works__item:nth-child(10) {
    background-image: url(../img/works-10.jpg); }
  .works__item:nth-child(11) {
    background-image: url(../img/works-11.jpg); }
  .works__item:nth-child(12) {
    background-image: url(../img/works-12.jpg); }
  .works__item:nth-child(13) {
    background-image: url(../img/works-13.jpg); }
  .works__item:nth-child(14) {
    background-image: url(../img/works-14.jpg); }
  .works__item:nth-child(15) {
    display: none;
    background-image: url(../img/works-15.jpg); }

.works__link--title {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: -15px; }
  .works__link--title:hover {
    margin-top: 0; }

.works__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: rgba(110, 117, 124, 0.7);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none; }

@media (min-width: 768px) {
  .works__item {
    width: 25%;
    height: 150px; }
    .works__item:nth-child(15) {
      display: block;
      width: 33.3%; }
    .works__item:nth-child(14) {
      display: block;
      width: 33.3%; }
    .works__item:nth-child(13) {
      display: block;
      width: 33.3%; } }

@media (min-width: 1200px) {
  .works__item {
    width: 20%;
    height: 200px; }
    .works__item:nth-child(15) {
      width: 20%; }
    .works__item:nth-child(14) {
      width: 20%; }
    .works__item:nth-child(13) {
      width: 20%; }
  .works__link {
    height: 200px; } }

.happy-clients {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 20px; }

.item {
  width: 100%;
  margin: 0 auto; }

.owl-carousel__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 auto;
  background-image: url(../img/clients.jpg);
  background-size: cover;
  background-position: center; }

.owl-carousel__text {
  color: #434d59;
  font-size: 14px;
  font-family: "OpenSansRegular", sans-serif;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 0; }

.owl-carousel__quote {
  width: 40px;
  height: 40px;
  margin: 0 auto 15px;
  background-image: url(../img/quote.png);
  background-repeat: no-repeat;
  background-position: center; }

.owl-carousel__client-name {
  color: #303944;
  font-family: "ofont.ru_Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0; }

.owl-carousel__client-profile {
  color: #303944;
  font-family: "OpenSansRegular", sans-serif;
  text-align: center;
  font-size: 14px;
  margin: 0; }

@media (min-width: 768px) {
  .owl-carousel__text {
    padding: 0 50px; } }

.team {
  background-image: url(../img/team-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto; }

.team-wrap {
  padding-top: 60px;
  padding-bottom: 100px;
  background-color: rgba(53, 56, 59, 0.7); }

.team-items {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 80px auto 90px; }

.team__item {
  width: 200px;
  height: 300px;
  background-color: #c9ced0;
  margin-bottom: 40px;
  padding-bottom: 20px; }

.team__name {
  color: #303944;
  font-family: "ofont.ru_Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px; }

.team__profile {
  color: #565d64;
  font-family: "ofont.ru_Montserrat", sans-serif;
  text-align: center;
  font-size: 14px; }

.team__socials {
  width: 60%;
  height: auto;
  margin: 10px auto 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.team__social {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block; }

.team__social--tw {
  background-image: url(../img/twitter.png);
  background-repeat: no-repeat;
  background-position: center; }

.team__social--in {
  background-image: url(../img/in.png);
  background-repeat: no-repeat;
  background-position: center; }

.team__social--v {
  background-image: url(../img/social-v.png);
  background-repeat: no-repeat;
  background-position: center; }

.team__social--dribble {
  background-image: url(../img/social-dribble.png);
  background-repeat: no-repeat;
  background-position: center; }

.team__social--mail {
  background-image: url(../img/social-mail.png);
  background-repeat: no-repeat;
  background-position: center; }

.team__button {
  width: 200px; }

@media (min-width: 768px) {
  .team-items {
    width: 70%; } }

@media (min-width: 1200px) {
  .team-items {
    width: 80%; } }

.brands {
  background-color: #f5f5f5;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 10px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.brands__brand {
  padding: 20px;
  width: 30%;
  text-align: center; }

@media (min-width: 768px) {
  .brands__brand {
    width: 20%; } }

@media (min-width: 1200px) {
  .brands__brand {
    width: 15%; } }

.pricing-table {
  background-color: #fff;
  width: 100%;
  height: auto;
  padding-top: 60px;
  padding-bottom: 40px; }

.pricing-table__block-title {
  margin-bottom: 80px; }

.pricing-table__proposals {
  width: 80%;
  height: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto; }

.pricing-table__proposal {
  border: 1px solid #eee;
  width: 100%;
  margin-bottom: 30px; }
  .pricing-table__proposal:nth-child(1) {
    margin-bottom: 70px; }
  .pricing-table__proposal:nth-child(2) {
    margin-top: -40px; }
    .pricing-table__proposal:nth-child(2) .pricing-table__header {
      padding-top: 40px;
      border-top: 4px solid #303944; }

.pricing-table__header {
  border-bottom: 1px solid #eee; }

.pricing-table__product-name {
  color: #303944;
  font-family: "ofont.ru_Montserrat", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  margin-top: 10px; }

.pricing-table__product-price {
  color: #303944;
  font-family: "ofont.ru_Montserrat", sans-serif;
  text-align: center;
  font-size: 30px; }

.pricing-table__product-month {
  color: #bdbfc1;
  font-family: "OpenSansLight", sans-serif;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 10px; }

.pricing-table__text {
  width: 80%;
  height: 250px;
  color: #303944;
  text-align: center;
  margin: 20px auto 0;
  font-family: "OpenSansLight", sans-serif;
  line-height: 26px; }

.pricing-table__button {
  background-color: #303944;
  color: #fff;
  margin-bottom: 20px; }

@media (min-width: 768px) {
  .pricing-table__proposal {
    width: 60%; } }

@media (min-width: 1200px) {
  .pricing-table__proposal {
    width: 33%; }
    .pricing-table__proposal:nth-child(1) {
      margin-bottom: 30px; } }

.my-footer {
  width: 100%;
  height: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.my-footer__map {
  width: 100%;
  position: relative;
  height: 400px;
  background-image: url(../img/map.jpg);
  background-size: cover;
  background-position: center; }

.my-footer__marker {
  background-image: url(../img/marker.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  width: 100px;
  height: 120px;
  position: absolute;
  top: 50%;
  margin-left: -50px;
  margin-top: -60px;
  left: 50%; }

.my-footer__form {
  width: 100%;
  height: 400px;
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.my-footer__form-wrap {
  background-color: rgba(53, 56, 59, 0.7);
  height: 100%;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.site-form {
  margin: 0 auto;
  text-align: center;
  font-family: "ofont.ru_Montserrat", sans-serif;
  font-size: 14px;
  color: #f6f6f6; }

.site-form__list {
  list-style-type: none;
  margin: 0 20px;
  padding: 0; }

.site-form__label {
  margin-right: 20px; }

.site-form__input {
  background-color: transparent;
  border: 1px solid #b8babd;
  border-radius: 4px;
  height: 30px;
  width: 200px; }

.site-form__input--4 {
  height: 100px; }

.site-item {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px; }
  .site-item:nth-child(5) {
    margin-bottom: 0;
    display: inline-block;
    text-align: right;
    width: 100%; }

.site-form__submit {
  width: 100px;
  font-size: 14px; }

.my-footer__contacts {
  width: 100%;
  height: auto;
  padding: 40px 0;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #303944;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #f5f5f5;
  font-size: 14px; }

.my-footer__license {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 100%;
  text-align: center;
  margin-top: 20px; }

.my-footer__rights {
  display: inline-block;
  vertical-align: top; }

.my-footer__logo {
  width: 85px;
  height: 30px;
  display: inline-block;
  margin-right: 20px;
  background-image: url(../img/logo-footer.png);
  background-repeat: no-repeat;
  background-position: center; }

.my-footer__networks {
  width: 100%;
  height: auto;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.my-footer__socials {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.my-footer__touch {
  display: inline-block;
  margin-right: 20px; }

.my-footer__social-link {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 50%;
  background-image: url(../img/fb-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px; }

.my-footer__social-link--tw {
  background-image: url(../img/tw-footer.png); }

.my-footer__social-link--google {
  background-image: url(../img/google-footer.png); }

.my-footer__social-link--dribble {
  background-image: url(../img/dribble-footer.png); }

@media (min-width: 768px) {
  .my-footer__marker {
    background-size: 50%; }
  .my-footer__map {
    height: 550px; }
  .my-footer__form {
    height: 550px; }
  .site-form {
    font-size: 16px; }
  .site-form__list {
    margin: 0 100px; }
  .site-form__input {
    height: 45px;
    width: 300px; }
  .site-form__input--4 {
    height: 150px; }
  .site-form__submit {
    width: 100px;
    font-size: 14px; } }

@media (min-width: 1200px) {
  .my-footer__marker {
    background-size: 50%; }
  .my-footer__map {
    width: 50%; }
  .my-footer__form {
    width: 50%; }
  .my-footer__license {
    width: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .my-footer__networks {
    width: 50%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }
